:root{ /*Custom Properties*/
    --fontHeading: 'PT Sans', sans-serif;
    --fontParagraph: 'Open Sans', sans-serif;
    --primaryColor: #784D3C;
    --gray: #e1e1e1;
    --white: #ffffff;
    --black: #000000;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /*1 rem = 10px */
}
*,*:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: var(--fontParagraph);
    font-size: 1.6rem;
    line-height: 2;
}
/* Global */
.container{
    width: min(90%,120rem);
    margin: 0 auto;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--fontHeading);
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
/* Utilities */
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.center-text{
    text-align: center;
}
/* Header */
.header{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 60rem;
}
.header__text{
    color: var(--white);
    margin-top: 5rem;
    text-align: center;
}
@media (min-width: 768px) {
    .header__text{
        margin-top: 15rem;
    }
}
.bar{
    padding-top: 2rem;
}
@media (min-width: 768px) {
    .bar{
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}
.logo{
    color: var(--white);
}
.logo__name{
    font-weight: 400;
}
.logo__bold{
    font-weight: 700;
}
@media (min-width: 768px) {
    .navegation{
        display: flex;
        gap: 2rem;
    }
}
.navegation__link{
    color: var(--white);
    display: block;
    font-size: 1.8rem;
    text-align: center;
}

@media (min-width: 768px) {
    .main-content{
        column-gap: 4rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }    
}
.input{
    border-bottom: 1px solid var(--gray);
    margin-bottom: 2rem;
}
.input:last-of-type{
    border: one;
    margin-bottom: 0;
}
.button{
    display: block;
    font-family: var(--fontHeading);
    color: var(--white);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .button{
        display: inline-block;
    }
}
.button--primary{
    background-color: var(--black);
}
.button--secundary{
    background-color: var(--primaryColor);
}
.curses{
    list-style: none;
}
.widget-curse{
    border-bottom: 1px solid var(--gray);
    margin-bottom: 2rem;
}
.widget-curse:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}
.widget-curse__label{
    font-family: var(--fontHeading);
    font-weight: bold;
}
.widget-curse__info{
    font-weight: normal;
}
.widget-curse__label,
.widget-curse__info{
    font-size: 2rem;
}
.footer{
    background-color: var(--black);
    padding-bottom: 3rem;
    margin-top: 4rem;
}